body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: "Google Sans Flex", sans-serif;
}

.top-container {
  background-color: #bdeee4;
  position: relative;
  padding-top: 100px;
}

h1 {
  font-family: "Beau Rivage", cursive;
  font-size: 90px;
  margin: 90px auto -10px auto;
  color: #3f9595;
  line-height: 90px;
}

hr {
  width: 10%;
  border: none;
  border-top: dotted;
  border-width: 7px;
  border-color: rgba(128, 128, 128, 0.455);
}

.head-description {
  font-size: 18px;
  margin: 0 0 -27px 0;
  font-weight: normal;
  line-height: 18px;
}

h2 {
  font-family: "Cantarell", sans-serif;
  color: #3f9595;
}

h3 {
  font-family: "Cantarell", sans-serif;
  color: #11999e;
}

a {
  font-family: "Cantarell", sans-serif;
  color: #11999e;
  margin: auto 30px auto;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.cloud {
  width: 12%;
  filter: brightness(50%);
}

.cloud-1 {
  position: absolute;
  top: 30%;
  left: 0%;
}

.cloud-2 {
  position: absolute;
  top: 12.5%;
  right: 20%;
}

.mountain {
  width: 100%;
  filter: brightness(85%);
}

.skills {
  margin: 100px 0 0 0;
}

.profile {
  margin-bottom: 0 0 100px 0;
}

.profile-intro{
  width: 45%;
  margin: auto;
}
.skill-row {
  width: 75%;
  margin: 0 auto;
  text-align: left;
}

.skill-row > p {
  line-height: 2;
}

.skill-row > img {
  width: 25%;
}

.coding-image {
  float: left;
  margin-right: 25px;
}

.doctor-image {
  float: right;
  margin-left: 25px;
}

.profile {
  padding-bottom: 50px;
}

.profile > img {
  width: 250px;
}

.middle-container {
  padding-top: 50px;
  margin-bottom: 100px;
}

.contact-me {
  margin-top: 100px;
}

.contact-description{
  width: 45%;
  margin: 40px auto 60px;
}

.btn {
   background: #3f9595;
   background-image: -webkit-linear-gradient(top, #3f9595, #287070);
   background-image: -moz-linear-gradient(top, #3f9595, #287070);
   background-image: -ms-linear-gradient(top, #3f9595, #287070);
   background-image: -o-linear-gradient(top, #3f9595, #287070);
   background-image: -webkit-gradient(to bottom, #3f9595, #287070);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: "Cantarell", sans-serif;
   font-size: 17px;
   font-weight: 100;
   padding: 7px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #3f9595 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #3f9595 1px;
   background: #287070;
   background-image: -webkit-linear-gradient(top, #287070, #3f9595);
   background-image: -moz-linear-gradient(top, #287070, #3f9595);
   background-image: -ms-linear-gradient(top, #287070, #3f9595);
   background-image: -o-linear-gradient(top, #287070, #3f9595);
   background-image: -webkit-gradient(to bottom, #287070, #3f9595);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 10px;
   text-decoration: none;
}

.btn {
  margin: 40px;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 40px;
}

.copyrights {
  color: #eaf6f6;
  font-size: 0.7rem;
  padding: 20px auto;
}
